<div class="appointments">
    <app-calendar [(selectedDate)]="selectedDate"></app-calendar>
    <hr>
    @if(!appointments.appointments()){
    <div class="placeholder-glow d-flex flex-column mx-auto col-10">
        <h5 class="col-3 placeholder display-5"></h5>
        <div class="col-8 placeholder"></div>
        <button class="btn btn-primary btn-sm mt-2 ms-auto disabled placeholder col-2"></button>
    </div>
    }@else if(!activeAppointments()){
    <div class="text-center">
        <div class="empty-image col-1 mx-auto"></div>
        <p class="mt-3">No appointment scheduled for that date.</p>
    </div>
    } @else {
    <div class="table-responsive container text-center">
        <table class="table">
            <thead>
                <tr>
                    <th class="col">Status</th>
                    <th class="col">Service</th>
                    <th>Time</th>
                    @if (auth.user()!.role === 'MANAGER') {
                    <th class="col">Client Info</th>
                    }
                    <th class="col">Mechanic</th>
                    <th class="col-3"></th>
                </tr>
            </thead>
            <tbody>
                @for (appointment of activeAppointments()!; track $index) {
                <tr class="">
                    <td scope="row">{{appointment.status}}</td>
                    <td>{{ appointment.serviceType }}</td>
                    <td>{{ getTime(appointment.date) }}</td>
                    @if (auth.user()!.role === 'MANAGER') {
                    <td>
                        {{appointment.client?.name || 'Unknown'}} <br />
                        <a [href]="`mailto:${appointment.client?.email}`">{{ appointment.client?.email }}</a>
                    </td>
                    }
                    <td>{{ appointment.mechanic?.name || 'Unknown' }}</td>

                    <td class="d-flex gap-2">
                        @if(date(appointment.date) > now){
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#appointment-modal" (click)="setEditingAppointment(appointment)">
                            <i class="fa fa-pen"></i> Edit
                        </button>
                        }
                        <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#delete-appointment-modal" (click)="deletingAppointment.set(appointment)">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>}
            </tbody>
        </table>
    </div>
    }
    @if(selectedDate() > now && !selectedDateIsWeekend()){
    <button class="btn btn-outline-dark btn-sm floating-action" data-bs-toggle="modal"
        data-bs-target="#appointment-modal" type="button" (click)="setEditingAppointment(null)">
        <i class="fa fa-plus"></i> Ajouter
    </button>
    }
    <app-create-appointment [selectedDate]="selectedDate()"
        [(appointment)]="editingAppointment"></app-create-appointment>
    <app-delete-appointment [isLoading]="state.isLoading" (onDelete)="onDelete()"></app-delete-appointment>
</div>