<div class="modal fade" id="delete-appointment-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="delete-appointment-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-appointment-modal-title">
                    Do you want to delete that appointment?
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="appointment-delete-modal-close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">
                    Cancel
                </button>
                <app-button variant="danger" type="button" className="btn-sm" [isLoading]="isLoading()" (click)="onDelete.emit()">
                    <i class="fa fa-trash"></i> Delete
                </app-button>
            </div>
        </div>
    </div>
</div>

<!-- Optional: Place to the bottom of scripts -->
<script>
    const myModal = new bootstrap.Modal(
        document.getElementById("modalId"),
        options,
    );
</script>