<div class="app-loading-page d-flex justify-content-center align-items-center">
    <div class="d-flex gap-3">
        <span class="spinner spinner-grow spinner-grow-lg bg-primary"></span>
        <span class="spinner spinner-grow spinner-grow-lg bg-secondary"></span>
        <span class="spinner spinner-grow spinner-grow-lg bg-dark"></span>
        <span class="spinner spinner-grow spinner-grow-lg bg-info"></span>
        <span class="spinner spinner-grow spinner-grow-lg bg-danger"></span>
        <span class="spinner spinner-grow spinner-grow-lg bg-warning"></span>
    </div>
</div>