.left-side {
  background: url("../../assets/images/car-in-garage.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-component {
    height: 100vh;
}
