<form class="px-5">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      placeholder="Your username"
    />
    <label for="name"><i class="fa fa-user"></i> Name*</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      name="email"
      id="email"
      placeholder="username@example.com"
    />
    <label for="email"><i class="fa fa-envelope"></i> Email*</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="password"
      class="form-control"
      name="password"
      id="password"
      placeholder="Your password"
    />
    <label for="password"><i class="fa fa-lock"></i> Password*</label>
  </div>
  <div class="mb-3">
    <select class="form-select form-select-sm" name="role" id="role">
      <option selected value="CLIENT">Client</option>
      <option value="MECHANIC">Mécanicien</option>
      <option value="MANAGER">Manager</option>
    </select>
  </div>

  <button class="btn btn-secondary d-block mx-auto disabled" type="submit">
    S'inscrire
  </button>

  <p class="mt-3 text-center">
    Vous avez déjà un compte ? <a routerLink="/auth/login">Connectez-vous</a>.
  </p>
</form>
